/* Contenedor principal de las estadísticas */
.stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Forzar tres columnas siempre que sea posible */
    gap: 20px; /* Reducir el espacio entre los gráficos */
    margin-top: 20px;
    padding: 20px;
}

/* Estilo para el selector de cuadernos */
#notebook,
#mes {
    width: 70%;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo específico para el selector de mes */
#mes {
    width: 50%;
    margin-left: 20px;
}

/* Estilo para el botón de cargar gráficos */
#loadChartsButton {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    background-color: #4CAF50; /* Verde para destacar */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#loadChartsButton:hover {
    background-color: #45a049; /* Efecto hover */
}

/* Estilo para cada bloque de gráfico */
.chart {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #2c3e50;
}

/* Ajuste de gráficos en pantallas pequeñas */
@media (max-width: 1024px) {
    .stats-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .stats-container {
        grid-template-columns: 1fr; /* Una sola columna en pantallas pequeñas */
    }

    .chart {
        max-width: 100%;
    }

    #notebook,
    #mes {
        width: 100%;
    }
}

/* Contenedor para el selector y el botón */
.selector-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Ajuste de la alineación en pantallas pequeñas */
@media (max-width: 768px) {
    .selector-container {
        flex-direction: column;
    }

    #loadChartsButton {
        margin-top: 10px;
        margin-left: 0;
    }

    #mes {
        margin-top: 10px;
        margin-left: 0;
    }
}
