{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleHistory.css') }}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
{% endblock %}

{% block content %}
<div class="history-container">
    <h1>Historial de Trades</h1>

    <!-- Selector de cuadernos para filtrar el historial -->
    <div class="history-header">
        <label for="notebook_filter">Filtrar por Cuaderno:</label>
        <select id="notebook_filter" name="notebook_filter">
            <option value="">Todos los cuadernos</option>
            {% for notebook in notebooks %}
                <option value="{{ notebook.id }}">{{ notebook.name }} - {{ notebook.account_type }} - ${{ notebook.initial_balance }}</option>
            {% endfor %}
        </select>
        <button id="filterButton" class="btn-filtrar" onclick="loadTradeHistory()">Filtrar</button>
        <button id="deleteNotebookButton" class="btn-eliminar-cuaderno ml-3" style="display:none;" onclick="confirmDeleteNotebook()">Eliminar Cuaderno</button>

        <!-- Ícono de Excel -->
        <a id="downloadHistoryButton" style="display:none;" onclick="downloadTradeHistory()">
            <img src="{{ url_for('static', filename='img/excel.png') }}" alt="Descargar Excel" class="excel-icon ml-3">
        </a>
    </div>

    <!-- Contenedor para los registros de trades -->
    <div class="trade-table-container">
        <table id="tradeHistoryTable" class="display">
            <thead>
                <tr>
                    <th>Cuaderno</th>
                    <th>Activo Operado</th>
                    <th>Lotaje Operado</th>
                    <th>Punto de Entrada</th>
                    <th>Stop Loss</th>
                    <th>Take Profit</th>
                    <th>Resultado de la Operación</th>
                    <th>Fecha de la Operación</th>
                    <th>Emoción al Operar</th>
                    <th>¿Realizaste la rutina de activación?</th>
                    <th>Ganancia / Pérdida</th>
                    <th>Imagen de Entrada</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="tradeHistoryContainer">
                <!-- Aquí se mostrará el historial filtrado -->
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    let tradeTable;

    // Listener para cargar el historial de trades
    function loadTradeHistory() {
        const notebookId = document.getElementById('notebook_filter').value;

        if (notebookId) {
            document.getElementById('deleteNotebookButton').style.display = 'inline-block';
            document.getElementById('downloadHistoryButton').style.display = 'inline-block';
        } else {
            document.getElementById('deleteNotebookButton').style.display = 'none';
            document.getElementById('downloadHistoryButton').style.display = 'none';
        }

        fetch(`/cargar_historial?notebook_id=${notebookId}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                } else {
                    displayTradeHistory(data);
                }
            })
            .catch(error => {
                console.error("Error al cargar el historial:", error);
                alert("Hubo un error al cargar el historial. Por favor, inténtalo de nuevo.");
            });
    }

    // Función para mostrar el historial de trades
    function displayTradeHistory(data) {
        if (tradeTable) {
            tradeTable.destroy(); // Destruir la tabla si ya fue inicializada
        }

        const container = document.getElementById('tradeHistoryContainer');
        container.innerHTML = '';

        data.trades.forEach(trade => {
            const imageUrl = trade.entry_image_url ? trade.entry_image_url : null;
            container.innerHTML += `
                <tr class="trade-row" data-result="${trade.result}">
                    <td>${trade.notebook_name}</td>
                    <td>${trade.asset}</td>
                    <td>${trade.lot_size}</td>
                    <td>${trade.entry_point}</td>
                    <td>${trade.stop_loss}</td>
                    <td>${trade.take_profit}</td>
                    <td>${trade.result}</td>
                    <td>${trade.trade_date}</td>
                    <td>${trade.emotion}</td>
                    <td>${trade.activation_routine}</td>
                    <td>${trade.profit_loss}</td>
                    <td>
                        ${imageUrl ? `<a href="${imageUrl}" class="view-image-button" target="_blank">Ver Imagen</a>` : 'N/A'}
                    </td>
                    <td>
                        <button class="btn-eliminar" onclick="confirmDeleteTrade(${trade.trade_id})">Eliminar</button>
                    </td>
                </tr>
            `;
        });

        // Inicializar DataTable después de actualizar la tabla
        tradeTable = $('#tradeHistoryTable').DataTable({
            "rowCallback": function(row, data) {
                const result = $(row).attr('data-result');
                if (result === 'Ganadora') {
                    $(row).addClass('ganadora-row');
                } else if (result === 'Perdedora') {
                    $(row).addClass('perdedora-row');
                }
            }
        });
    }

    // Función para descargar el historial en formato Excel
    function downloadTradeHistory() {
        const notebookId = document.getElementById('notebook_filter').value;
        if (!notebookId) {
            alert("Por favor, selecciona un cuaderno para descargar el historial.");
            return;
        }
        window.location.href = `/descargar_historial?notebook_id=${notebookId}`;
    }

    // Función para confirmar la eliminación del cuaderno con SweetAlert2
    function confirmDeleteNotebook() {
        const notebookId = document.getElementById('notebook_filter').value;

        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción eliminará el cuaderno y todos sus registros asociados.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/eliminar_cuaderno', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: `notebook_id=${notebookId}`
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        Swal.fire('Error', data.error, 'error');
                    } else {
                        Swal.fire('Eliminado', data.success, 'success');
                        loadTradeHistory();
                    }
                })
                .catch(error => {
                    console.error("Error al eliminar el cuaderno:", error);
                    Swal.fire('Error', 'Hubo un error al eliminar el cuaderno. Por favor, inténtalo de nuevo.', 'error');
                });
            }
        });
    }


    // Confirmar la eliminación del trade con SweetAlert2
    function confirmDeleteTrade(tradeId) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción eliminará el trade de forma permanente.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/eliminar_trade', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                    body: `trade_id=${tradeId}`
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        Swal.fire('Error', data.error, 'error');
                    } else {
                        Swal.fire('Eliminado', data.success, 'success');
                        loadTradeHistory();
                    }
                })
                .catch(error => {
                    console.error("Error al eliminar el trade:", error);
                    Swal.fire('Error', 'Hubo un error al eliminar el trade. Por favor, inténtalo de nuevo.', 'error');
                });
            }
        });
    }

    // Inicializar DataTable al cargar la página sin datos
    $(document).ready(function() {
        tradeTable = $('#tradeHistoryTable').DataTable();
    });
</script>
{% endblock %}
